page-home {
    .center {
        text-align: center;
    }
    h2.big-square {
        text-align: center;
        padding: 50px;
        color: #D91E18;
        background: #F9BF3B;
    }
    h3.sub-title {
        text-align: center;
        padding: 10px;
        color: #446CB3;
        background: #E4F1FE;
    }
    ion-card ion-card-header {
        padding: 10px 16px;
        background: #F9690E;
        color: white;
    }
    ion-card ion-card-header + ion-card-content,
    ion-card .item + ion-card-content {
        padding-top: 16px;
    }
}
